body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

#game-container {
    margin-top: 20px;
}

button {
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

#imagem{
    height: 250px;
}